*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    max-width: 1200px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;


}
.primary-font{
    font-size:3.8rem ;
    font-weight:800 ;
}
.secondary-font{
    font-size:3rem ;
    font-weight:700 ;
}
.third-font{
    font-size:2rem ;
    font-weight:700 ;
}
.fourth-font{
    font-size:1.5rem ;
    font-weight:700 ;
}
.universal-description{
     font-size:1rem ;
    font-weight:600 ;

}
.primary-btn {
  padding: 14px 32px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  background: linear-gradient(
    270deg,
    #9907c6,
    #ff15ef,
    #fff700
  );

  background-size: 600% 600%;
  animation: gradientMove 6s ease infinite;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.primary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



